* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #33475B;
}

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

ul {
  list-style: none;
}

header li {
  float: left;
}

a {
  text-decoration: none;
  color: #33475B;
}

/* Buttons */
.btn {
  padding: 10px 10px;
  border: 1px solid #FF7A59;
  border-radius: 5px;
}

.bg-orange {
  background-color: #FF7A59;
}

.orange {
  color: #FF7A59;
}

.white {
  color: white;
}

.bg-white {
  background-color: white;
}

/* Header */

/* Top Bar */
.top-bar {
  height: 80px;
  line-height: 80px;
  background-color: #f4f9fd;
  border-bottom: 2px solid grey;
}

.top-bar li {
  padding-right: 20px;
}

.top-bar li:last-child {
  padding-right: 0;
}

.top-bar-left .vl {
  font-size: 18px;
}

.top-bar-right li:first-child {
  color: #00A4BD;
}

/* Bottom Bar */
.bot-bar {
  height: 80px;
  line-height: 80px;
}

.bot-bar-left img {
  vertical-align: middle;
}

.bot-bar li {
  padding-left: 20px;
}

.bot-bar li i {
  margin-left: 8px;
}

/* Jumbotron */
.jumbotron {
  height: 695px;
  position: relative;
  background-color: #fff4ef;
  /* background-image: url(../img/jumbotron.png);
  background-position: right top;
  background-repeat: no-repeat; */
}

.jumbotron img.background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.jumbotron::after {
  width: 100%;
  height: 76px;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #AFEBE4;
  border-top: 3px solid rgba(51, 71, 92, 0.9);
  border-bottom: 4px solid rgba(51, 71, 92, 0.9);
}

.jumbotron .content {
  padding-top: 60px;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


.jumbotron .content h1 {
  padding-bottom: 30px;
  font-size: 300%;
  /* z-index: 2; */
}

.jumbotron .content p {
  padding-bottom: 40px;
  line-height: 1.6;
  font-weight: 400;
}

.jumbotron .content div {
  padding-bottom: 40px;
}

.jumbotron .content div a {
  padding: 15px 30px;
}
