* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #33475B;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #33475B;
}

/* Buttons */
.btn {
  padding: 10px 10px;
  border: 1px solid #FF7A59;
  border-radius: 5px;
}

.bg-orange {
  background-color: #FF7A59;
}

.orange {
  color: #FF7A59;
}

.white {
  color: white;
}

.bg-white {
  background-color: white;
}

/* Header */
header {

}

/* Top Bar */
.top-bar {
  height: 80px;
  line-height: 80px;
  background-color: #f4f9fd;
  border-bottom: 2px solid grey;
}

.top-bar li {
  padding: 0 10px;
}

.top-bar-right li:first-child {
  color: #00A4BD;
}

.top-bar-left .vl {
  font-size: 18px;
}

/* Bottom Bar */
.bot-bar {
  height: 80px;
}

/* Jumbotron */
.jumbotron {
  height: 500px;
  background-color: #fff4ef;
}
